<template>
  <div :class="`task ${task.done ? 'is-complete' : ''}`">
    <div class="content">{{ task.content }}</div>
    <div class="buttons">
      <button >{{ task.done ? "Undo" : "Done" }}</button>
      <button class="delete">X</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["task"],
  methods: {
    toggleDone() {
      //this.$store.commit("TOGGLE_TASK", this.task);
    },
    deleteTask() {
      //this.$store.commit("DELETE_TASK", this.task);
    },
  },
};
</script>

<style>
</style>