<template>
  <main>
    <h1>Task Board</h1>
    <p>List of tasks</p>
    <div class="create-new">
      <input
        type="text"
        v-model="newTask"
        placeholder="Add new task"
        @keypress.enter="addTask"
      />
    </div>
    <div style="margin: 1rem">
      <button @click="addTask">+</button>
    </div>
    <div v-if="loading" class="loading">
      <i class="gg gg-spinner"></i>
    </div>
    <div class="tasks" v-if="tasks !== null">
      <div v-for="(task, index) in tasks" :key="index">
        <div :class="`task ${task.done ? 'is-complete' : ''}`">
          <div class="content">{{ task.newTask }}</div>
          <div class="buttons">
            <button @click="toggleTask(task.id)">
              {{ task.done === true ? "Done" : "&#10004;" }}
            </button>
            <button class="delete" @click="deleteTask(task)">X</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
export default {
  data: () => ({
    tasks: null,
    newTask: "",
    loading: false,
  }),
  methods: {
    addTask() {
      if (this.newTask) {
        this.$db.collection("tasks").add({
          id: uuidv4(),
          newTask: this.newTask,
          done: false,
        });
        setTimeout(() => {
          this.getTasks();
        }, 1200);
        this.newTask = "";
      }
    },
    deleteTask(task) {
      this.$db.collection("tasks").doc({ id: task.id }).delete();
      setTimeout(() => {
        this.getTasks();
      }, 1000);
    },
    toggleTask(id) {
      this.$db.collection("tasks").doc({ id }).update({
        done: true,
      });
      setTimeout(() => {
        this.getTasks();
      }, 1000);
    },
    getTasks() {
      this.loading = true;
      this.$db
        .collection("tasks")
        .get()
        .then((tasks) => {
          this.tasks = tasks;
          this.loading = false;
        });
    },
  },
  mounted() {
    this.getTasks();
  },
};
</script>
